body{
  background-color: #33313c;
 
}
/*header*/
.brand-logo {
 margin-left: 5%;
}

nav{
  background-color: #ec781f;
}


.dropdown-content li>a{
  padding: 8% !important;
 
}
.dropdown-content{
  width: 30vw !important;
}


/*hero*/
#hero{
 color: white;
 background-image: url(../assets/images/fondo2.png);
 background-repeat: no-repeat;
 background-position: center ;
 height: 100%;
 object-fit: cover;
 background-size: cover;
opacity: 0.6;
 margin-left: auto;
 margin-right: auto;
padding: 5%;
line-height: 2;
 box-shadow: 0 5px 5px -5px #000;
}
.typewrite{
  font-size: 3rem;
  color:white;
  margin-left: 4%;
 
}
/*About*/
.about{
  height: 100%;
  background-color: #f39f3f;
  padding: 1%;
}
.forma{
  display: inline-block;
  margin: 16px;
}

#hexagono{ 
  font-family: 'Amita', cursive;
  width: 100px; 
  height: 50px; 
  background-color:	#f9f0b5;
  position: relative;
  color: rgb(17, 99, 9);
  margin-left: 7%;
  margin-top: 5%;
} 
#hexagono:before { 
  width: 0; 
  height: 0; 
  content: ""; 
  position: absolute; 
  top: -25px; 
  left: 0; 
  border-left: 50px solid transparent; 
  border-right: 50px solid transparent; 
  border-bottom: 25px solid 	#f9f0b5;;
} 
#hexagono:after { 
  width: 0; 
  height: 0; 
  content: ""; 
  position: absolute; 
  bottom: -25px; 
  left: 0; 
  border-left: 50px solid transparent; 
  border-right: 50px solid transparent; 
  border-top: 25px solid 	#f9f0b5;;
}
.hex{
  width: 100%;
  margin-top: 5%;
  margin-bottom: 10%;
  border:3px solid white;
  border-radius: 50%;
 
}

.mifoto{
  margin-top: 15%;
}

.text-about{
  color:black;
  text-align: justify;
  font-size: 1.2rem;
  margin-top: 15%;
}
.box{
  margin-top:14%;
}


/*Skills*/
#skills{
  background-color:	#f9f0b5;
  color: black;
  font-size: 1.5rem;
  padding: 2%;
  background-size: cover;
  -o-background-size: cover;
 
}
.black-text{
  color: #012619;
}
.pbadget{
  color:rgb(53, 47, 61);
}



/*Proyectos*/

.portfolio{
  background-color: #ec781f;
  padding-top:1%;
  height: 100%;
  background-size: cover;
  -o-background-size: cover;
}
.lab{
  width: 90%;
  height: 100%;
  padding:6%; 
}
.buttons{
  margin-top: 4%;
}
.title-proyectos{
  text-align: justify;
  font-size: 1rem;
}

.lab-movil{
  padding: 3%;
}

/*Contacto*/
#contact{
  height: 100%;
  color: #292829;
  background-color: #f9f0b5;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  padding: 4%;
}
.copy{
  font-size: 10px;
}

.fa-github-square, .fa-linkedin, .fa-facebook-square, .fa-envelope, .fa-download{
  color: rgb(5, 5, 41);
 
}

.number{
color: rgb(62, 73, 109);
font-size: 1.3rem;
}

/*Footer*/
footer {
  padding: 14px 0;
  height: 79px;
}
footer p {
  margin: 0;

}
.footer{
  background-color: #292829;
}      
.copyright{
  color: white;
 
}
i{
  font-size: 1.5rem;
}

h2, h6{
  font-size: 2.3rem;
  line-height: 2;
  align-items: center;
  text-align: center;
}
h3, h6, h5{
  color:white;
  font-size: 2.3rem;
  margin-top: 5%;
}
h4{
  font-size: 1.8rem;
}

h7{
  color:white;
  line-height: 2;
  align-items: center;
  text-align: center;
  font-size: 1.5rem;
}
.icons{
  font-size: 2.5rem;
  color: rgb(5, 5, 41);
 
}
.ir-arriba {
	display:none;
	padding:10px;
	background:#024959;
	font-size:20px;
	color:#fff;
	cursor:pointer;
	position: fixed;
	bottom:20px;
	right:30px;
}
.redes{
  display: inline-block !important;

}

/*Movil*/

@media(min-width: 0) and (max-width: 767px) {
  /*hero*/
  #hero{
 width: 100%;
 height: 100%; 
  }
  h5{
    font-size: 1rem;
  }
  .typewrite{
    font-size: 1rem;
    color:white;
 
  }
  /*about*/
  #about{
    height: 100vh;
  }
  #hexagono{ 
    font-family: 'Amita', cursive;
    width: 100px; 
    height: 40px; 
    background-color:	#f9f0b5;
    position: relative;
    color: rgb(17, 99, 9);
    margin-left: 10%;
    margin-top: 14%;
  } 
  .hex{
    width: 40%;
    border:3px solid white;
    border-radius: 50%;
    position: absolute;
  }
  
 
 
  /*proyectos*/
  h6{
  font-size:1.8rem;

  }
  h7{
    font-size:1.5rem;
  }
 .lab-deskt{
   margin-top: 11%;
 }
 .portfolio2{
  background-color: #ec781f;
  height: 100%;
  background-size: cover;
  -o-background-size: cover;
  padding: 4%;
 }

}

 


/*Tablets*/
@media(min-width: 768px) and (max-width: 1024px) { 
  .portfolio2{
    background-color: #ec781f;
    height: 100%;
    background-size: cover;
    -o-background-size: cover;
    padding: 4%;
  }
  #hero, #about, #contac{
    height: 100%;
  }
}

/*Desktop*/
@media(min-width: 1025px) and (max-width:1427px){

  .portfolio{
    background-color: #ec781f;
    padding-top:1%;
    height: 100%;
    background-size: cover;
    -o-background-size: cover;
  }
  .lab{
    width: 55vw;
    height: 100%;
    padding:15%; 
  }

  .lab-deskt{
    margin-top:10%;
    
  }
  #hero, #about, #contac{
    height: 100%;
  }
 
}