
/*header*/
.brand-logo {
 margin-left: 5%;
}
nav{
  background-color: #ec781f;
}
body{
  background-color: #33313c;
}
/*hero*/
#hero{
 text-align: center;
 position: absolute;
 color:white;
}
.fondo-hero{
  width: 98.7vw;
  height: 106vh;
  opacity: 0.5;
  position: absolute;
}
h5, h1, .h3{
  line-height: 2;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 2.6rem;
  margin-top: 7%;
}
.typewrite{
  font-size: 3rem;
  color:white;
  margin-left: 4%;
}

/*About*/
.about{
  height: 60%;
  margin-top: 50%;

  background-color: #f39f3f;
  padding: 1%;
}
.forma{
  display: inline-block;
  margin: 16px;
}

#hexagono{ 
  font-family: 'Amita', cursive;
  width: 100px; 
  height: 50px; 
  background-color:	#f9f0b5;
  position: relative;
  color: rgb(17, 99, 9);
  margin-left: 10%;
  margin-top: 4%;
} 
#hexagono:before { 
  width: 0; 
  height: 0; 
  content: ""; 
  position: absolute; 
  top: -25px; 
  left: 0; 
  border-left: 50px solid transparent; 
  border-right: 50px solid transparent; 
  border-bottom: 25px solid 	#f9f0b5;;
} 
#hexagono:after { 
  width: 0; 
  height: 0; 
  content: ""; 
  position: absolute; 
  bottom: -25px; 
  left: 0; 
  border-left: 50px solid transparent; 
  border-right: 50px solid transparent; 
  border-top: 25px solid 	#f9f0b5;;
}
.hex{
  width: 70%;
  margin-top: 5%;
  margin-bottom: 10%;
  border:3px solid white;
  border-radius: 50%;
}

.mifoto{
  margin-top: 15%;
}

.text-about{
  color:black;
  text-align: justify;
  font-size: 1.3rem;
  margin-top: 15%;
}
.box{
  margin-top:14%;
}
.text-ligth{
color: black;
text-align: justify;
font-size: 1.1rem;
}

/*Skills*/
#skills{
  background-color:	#f9f0b5;
  color: black;
  font-size: 1.5rem;
  padding: 2%;
}
.black-text{
  color: #012619;
}
.pbadget{
  color:rgb(53, 47, 61);
}
.badges{
  margin-top: 18%;
}

/*Proyectos*/

.portfolio{
  background-color: #ec781f;
  padding-top:1%;
}
.lab{
  width: 100%;
  height: 100%;
  padding:6%; 
}
.buttons{
  margin-top: 4%;
}
.title-proyectos{
  text-align: justify;
  font-size: 1rem;
}

.lab-movil{
  padding: 3%;
}

/*Contacto*/
#contact{
  width: 100%;
  color: #292829;
  background-color: #f9f0b5;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  padding: 5%;

}
.copy{
  font-size: 10px;
}

.fa-github-square, .fa-linkedin, .fa-facebook-square, .fa-envelope, .fa-download{
  color: #003A27;
 
}

.number{
color: rgb(62, 73, 109);
font-size: 1.3rem;
}

/*Footer*/
footer {
  padding: 25px 0;
  height: 79px;
}
footer p {
  margin: 0;

}
.footer{
  background-color: #292829;
}      
.copyright{
  color: white;
 
}
i{
  font-size: 1.5rem;

}

h2{
  font-size: 2.3rem;
}
h3, h6{
  color:white;
  font-size: 2rem;
}
h4{
  font-size: 1.8rem;
}



/*Movil*/

@media(min-width: 0) and (max-width: 767px) {
  /*hero*/
 .fondo-hero{
    width: 98.5vw;
    height: 26vh;
  }
  h5, h1, .h3{
    line-height: 2;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 1.2rem;
    margin-top: 2%;
  }
  .typewrite{
    font-size: 1.1rem;
    color:white;
 
  }
  /*about*/
  #hexagono{ 
    font-family: 'Amita', cursive;
    width: 100px; 
    height: 40px; 
    background-color:	#f9f0b5;
    position: relative;
    color: rgb(17, 99, 9);
    margin-left: 10%;
    margin-top: 11%;
  } 
  .hex{
    width: 100%;
    margin-top: 5%;
    margin-bottom: 10%;
    border:3px solid white;
    border-radius: 50%;
    
  }
  
  .mifoto{
    margin-top: 15%;
   
  }
  
  .text-about{
    display:none;
  }
  

  /*proyectos*/
  .title-proyectos{
    text-align: justify;
    font-size: 1rem;
  }

 h3{
   font-size: 1.5rem;
 }
 h2, h6{
  font-size: 2rem;
  line-height: 2;
 
  }
  h6{
    margin-top: 9%;
  }
}





