@import "colors";
@import "fonts";
* {
    outline: none;
}

@mixin sectionSize($bg-color) {
    width: 100%;
    height: 100vh;
    background-color: $bg-color;
    @media (max-width: 992px) {
        height: auto;
    }
}

.no-scroll {
    overflow: hidden;
}

.black-in {
    height: 100vh;
    width: 100%;
    background-color: $main-grey;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

svg[class*="logo-animated-"] {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.m-logo-front {
    stroke-dasharray: 300;
    stroke-dashoffset: 300;
    animation: dashFront 5s linear alternate infinite;
}

.m-logo-back {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dashBack 5s linear alternate infinite;
}

@keyframes dashFront {
    from {
        stroke-dashoffset: 300;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes dashBack {
    from {
        stroke-dashoffset: 1000;
    }
    to {
        stroke-dashoffset: 0;
    }
}

.title-code::before {
    content: '<';
    top: 0;
}

.title-code::after {
    content: '>';
    top: 0;
}

%square-link {
    position: absolute;
    width: 100%;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -54%);
    font-family: $nunito;
    letter-spacing: 1px;
    font-size: 1rem;
    font-weight: 400;
}

.case-link {
    @extend %square-link;
    color: $accent;
}

.demo-link {
    @extend %square-link;
    color: $accent-complementary;
}

.rectangle-div {
    position: relative;
    display: inline-block;
}

.rectangle-div:hover rect[class*="rect-"] {
    animation: dashRect 1s ease-out;
}

rect[class*="rect-"] {
    stroke-dasharray: 304;
    fill: none;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.rect-case {
    stroke: $accent;
}

.rect-demo {
    stroke: $accent-complementary;
}

.rotate {
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}

.links {
    @media (max-width: 992px) {
        width: 121px;
        margin: 0 auto;
    }
}

@keyframes dashRect {
    from {
        stroke-dashoffset: 304;
    }
    to {
        stroke-dashoffset: 0;
    }
}

body {
    font-family: $pfdin;
    color: $main-grey;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: $nunito;
}

.justify-text {
    text-align: justify;
}

%letter-config {
    font-weight: 300;
    letter-spacing: 1.3px;
    font-size: 1.1rem;
    cursor: default;
}

%title-config {
    letter-spacing: 6px;
    font-weight: 300;
    cursor: default;
}

.relative {
    position: relative;
}

.fixed {
    position: fixed !important;
}

.margin-b-h3 {
    margin-top: 0px;
    margin-bottom: 45px;
    @media (max-width: 992px) {
        margin-bottom: 30px;
    }
}

.padding-section {
    padding: 110px 0 110px 0;
    @media (max-width: 992px) {
        padding: 70px 0 70px 0;
    }
}

.navbar-fixed {
    height: 9.5vh;
    transition: .2s ease;
}

.grey-light {
    color: $main-grey-light;
}

.margin-t-130 {
    margin-top: 160px;
    @media (max-width: 992px) {
        margin-top: 15px;
    }
}

.no-padding {
    padding-left: 0;
    padding-right: 0;
}

.row .col {
    padding: 0 1.1rem;
}

nav {
    padding: 0 60px;
    height: 9.5vh;
    line-height: 60px;
    background-color: $main-grey;
    box-shadow: none;
    @media (max-width: 992px) {
        padding: 0 20px;
    }
    .brand-logo {
        background: url(../img/logo_name-01.svg) no-repeat;
        background-size: contain;
        width: 230px;
        height: 38px;
        display: inline-block;
        transform: translateY(30%);
        @media (max-width: 992px) {
            background: url(../img/logo_michellemore.svg) no-repeat;
            transform: translate(-45%, 20%);
            width: 86px;
            height: 37px;
        }
    }
    .button-collapse {
        cursor: pointer;
        width: 30px;
    }
    .icon-hamburguer {
        display: inline-block;
        width: 15px;
        height: 1px;
        background-color: $main-light;
        position: absolute;
        top: 25px;
        left: 4px;
    }
    .icon-hamburguer::before {
        content: '';
        background-color: $main-color;
        top: 6px;
        @extend .icon-hamburguer;
    }
    .icon-hamburguer::after {
        content: '';
        background-color: $main-color;
        top: -6px;
        @extend .icon-hamburguer;
    }
    ul.right {
        a {
            color: $main-color;
            letter-spacing: 2px;
            font-size: 1.1rem;
            font-weight: 100;
            font-family: $nunito;
            transition: .25s;
        }
        a:hover {
            background-color: inherit;
            color: $main-light;
        }
    }
    ul.side-nav {
        width: 205px;
        background-color: $main-grey;
        @extend %letter-config;
        li {
            a {
                font-family: $nunito;
                color: $main-color;
                text-align: center;
            }
        }
    }
}

@media only screen and (min-width: 601px) {
    nav a.icon-hamburguer {
        height: 2px;
    }
}

.hero {
    @include sectionSize(darken($main-color, 10%));
    height: 90.5vh;
    position: relative;
    background: url(../img/portada-new-size-1-min.png) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: $main-light;
    @media (max-width: 992px) {
        background: darken($main-color, 10%);
        height: 90.5vh;
    }
    .row {
        width: 80%;
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        @media (max-width: 992px) {}
    }
    h3 {
        margin: 0;
    }
    .keyword,
    .wrap {
        color: $main-dark;
    }
    .h3 {
        font-size: 2.92rem;
        font-family: $nunito;
    }
    h5 {
        @extend %letter-config;
        font-size: 1.4rem;
    }
}

#sidenav-overlay {
    z-index: 0;
}

.about {
    @include sectionSize(#ffffff);
    color: $main-dark;
    h3,
    h5 {
        @extend %title-config;
    }
    h5 {
        color: $accent;
        font-weight: 400;
    }
    p {
        @extend %letter-config;
    }
    .about-text {
        @media (max-width: 992px) {
            margin: .7rem 0;
        }
    }
}

.skills {
    @include sectionSize($main-grey);
    h3,
    h4,
    h5 {
        @extend %title-config;
        color: $main-color;
    }
}

.skills-list {
    @media (max-width: 992px) {
        margin: .7rem 0;
    }
    h5 {
        letter-spacing: 1px;
        color: $main-light;
    }
    p {
        @extend %letter-config;
        text-align: center;
        font-size: .9rem;
        text-transform: uppercase;
        color: $main-color;
    }
}

.badget {
    @extend %letter-config;
    text-align: center;
    font-size: .9rem;
    text-transform: uppercase;
    color: $main-light;
    margin-top: 8px;
    img {
        width: 80px;
        height: 80px;
        display: block;
        margin: 0 auto;
    }
    div {
        @media (max-width: 992px) {
            margin: .7rem 0;
        }
    }
}

.portfolio {
    height: 300vh;
    position: relative;
    @media (max-width: 992px) {
        height: auto;
    }
    h3 {
        color: $main-dark;
        position: absolute;
        top: 120px;
        @extend %title-config;
        @media (max-width: 992px) {
            position: static !important;
            text-align: center;
        }
    }
    h4 {
        @extend %title-config;
        color: $accent;
        @media (max-width: 992px) {
            text-align: center;
        }
    }
    p {
        @media (max-width: 992px) {
            text-align: center;
        }
    }
    div[class*="project-"] {
        @extend %letter-config;
        transition: .3s;
        margin-top: 90px;
        @media (max-width: 992px) {
            position: relative;
            margin-top: 0;
        }
    }
    .img-col {
        padding: 0;
        margin-bottom: 140px;
        @media (max-width: 992px) {
            margin-bottom: 50px;
            margin-top: 20px;
        }
    }
    img {
        display: block;
    }
}

.yape {
    @media (max-width: 600px) {
        margin-bottom: 90px !important;
    }
}

.project-1 {
    margin-top: 120px !important;
    @media (max-width: 992px) {
        margin-top: 30px !important;
    }
}

.project-1 .rotate {
    height: 32px;
    @media (max-width: 992px) {
        height: 33px;
    }
}

.contact {
    @include sectionSize($main-grey);
    height: 89vh;
    text-align: center;
    font-weight: 200;
    @media (max-width: 992px) {
        padding: 70px 0 25px;
    }
    h3 {
        @extend %title-config;
        margin-bottom: 65px;
        color: $main-color;
        @media (max-width: 992px) {
            margin-bottom: 30px;
        }
    }
    p {
        @extend %letter-config;
        font-weight: 200;
        color: #ffffff;
    }
    span[class*="icon-"] {
        display: inline-block;
        color: $main-color;
    }
    .icon-phone {
        font-size: 2.9rem;
        display: block;
        margin-bottom: 30px;
    }
    .icon-envelope {
        font-size: 2.6rem;
        display: block;
        margin-bottom: 34px;
    }
    .icon-document {
        font-size: 2.6rem;
        display: block;
        margin-bottom: 34px;
    }
    .divider {
        width: 100%;
        background-color: $main-grey-light;
    }
    .section {
        margin: 0.82rem 0;
        @media (max-width: 992px) {
            margin: 2.5rem;
        }
    }
    .follow {
        color: $main-color;
        margin: 13px 0 40px;
        font-family: $nunito;
        font-weight: 400;
        letter-spacing: 2px;
    }
}

.action-btn {
    font-family: $nunito;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 200;
    color: #fff;
    display: inline-block;
    border: 1px solid;
    padding: 4px 0;
    transition: .2s ease;
    display: inline-block;
    width: 128px;
}

.social {
    text-align: center;
    font-size: 1.5rem;
    margin: 0 auto;
    color: $main-grey;
    transition: .2s ease;
    margin: 8px;
    display: inline-block;
}

.social:hover,
.action-btn:hover {
    transform: translateY(5px);
}

.footer {
    height: 11vh;
    width: 100%;
    background-color: $main-color;
    color: $main-grey;
    @extend %letter-config;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 992px) {
        height: auto;
        padding: 7px;
    }
    .credits {
        cursor: default;
    }
}

.case-study {
    .bg-text {
        position: relative;
        .row {
            position: absolute;
            top: 150px;
        }
        p {
            font-size: 1.2rem;
        }
    }
    h1 {
        @extend %title-config;
        color: $main-dark;
        font-weight: 100;
        margin: 0 0 0 0;
    }
    p {
        @extend %letter-config;
    }
    footer {
        background-color: $main-grey;
        color: $main-light;
    }
}

div[class*="hero-case"] {
    background-size: cover;
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center bottom;
    @media (max-width: 600px) {
        background: lighten($main-grey-light, 40%);
    }
}

.hero-case-pinterest {
    background-image: url(../img/pinterest-bg.png);
}

.hero-case-pokedex {
    background-image: url(../img/pokedex-bg.png);
}

.hero-case-yape {
    background-image: url(../img/yape-bg.png);
}

.circle-num {
    color: $accent;
    border: 1px solid $accent;
    border-radius: 50px;
    padding: 11px 17px;
    width: 45px;
    height: 45px;
    margin: 0 auto;
}

.case>.col {
    padding: 0;
}

.case {
    padding: 40px 0;
    @media (max-width: 992px) {
        padding: 50px 0 0 0;
    }
    h4 {
        @extend %title-config;
        color: $main-dark;
        font-weight: 100;
        margin: 0 0 0 0;
        @media (max-width: 600px) {
            text-align: center;
        }
    }
    h1 {
        margin-bottom: 50px;
        padding: 0 1.1rem !important;
    }
    h5 {
        color: $accent;
        font-weight: 400;
        letter-spacing: 1.3px;
        font-size: 1.2rem;
        margin-bottom: 20px;
        @media (max-width: 600px) {
            text-align: center;
        }
    }
    section {
        margin-bottom: 50px;
    }
    .links {
        width: 264px;
        margin: 20px auto;
        .case-link-div {
            margin-right: 20px;
        }
    }
}

.objetivos {
    h4 {
        margin-bottom: 35px;
    }
}

.brand-logo-dark {
    background: url(../img/logo_name-dark-01.svg) no-repeat;
    background-size: contain;
    width: 235px;
    height: 35px;
    display: inline-block;
    position: absolute;
    top: 50px;
}

.quote {
    font-size: 1.6rem;
    color: lighten($main-grey, 10%);
}

.check {
    display: inline-block;
    background: transparent;
    height: 7px;
    width: 14px;
    top: 16px;
    left: 23px;
    margin-right: 12px;
    border: 1px solid $accent;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
}

.check-height {
    height: 7px;
}

.check-width {
    width: 14px;
}

.tools-img {
    width: 80px;
    height: 80px;
    display: block;
    margin: 25px auto;
}

.footer-case {
    padding: 50px;
    text-align: center;
    width: auto !important;
    @media (max-width: 992px) {
        padding: 0 0 50px 0;
    }
    width: 128px;
    .action-btn {
        color: $accent;
        font-weight: 700;
        padding: 4px 22px;
        width: auto;
    }
}

.lang {
    margin: 0 auto;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    cursor: pointer;
    span {
        margin: 0 10px;
        color: #ffffff;
        font-family: $nunito;
        font-weight: 300;
    }
    span:hover {
        color: $main-color;
    }
}